* {
  margin: 0;
  padding: 0;
}

body {
  background: #0e1720;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scene {
  position: relative;
  width: 360px;
}

.window {
  width: 100%;
  display: block;
  z-index: 1;
}

/* 눈 레이어 */
#snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
